@using Shared.Models
@inject NavigationManager Navmanager


<div class="card w-50" @onclick=Click>
    <div class="card-header d-flex justify-content-between">
        <h4 >@CurrentTicket.Title</h4>
        <h4> </h4>
    </div>
    
    <div class="card-body">
        <p>
            @CurrentTicket.Description
        </p>
    </div>

    <div class="card-footer">
        <h4 class="float-end">Submitted by: @CurrentTicket.SubmittedBy</h4>
    </div>
</div>

@code {
    [Parameter]
    public TicketModel CurrentTicket { get; set; } = new();


    private void Click()
    {
        Navmanager.NavigateTo($"details/{CurrentTicket.Id}");
    }
}
