<div class="card w-50">
    <div class="card-header d-flex justify-content-between">
        <h4 >Title</h4>
        <h4 > Username</h4>
    </div>
    
    <div class="card-body">
        <p>
            CARD DESCRIPTION
        </p>
    </div>

    <div class="card-footer">
        <h4 class="float-end">Submitted on</h4>
    </div>
</div>

@code {


}
